p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: green;
    background-color: #c7d6e3;
    margin: 50px 5px 5px 5px;
}
.outside {
    width: 200px;
    height: 200px;
    border: 30px solid green;
    padding: 50px;
}